.about-container {
    padding-top: 65px;
    background-image: url(../../../public/assets/about/backAbout.jpg);
    background-size: contain;
    background-position: center;
}

.content-container {
    width: 100%;
    padding: 0 25px;
}

.about {
    padding-bottom: 25px;
    text-align: center;
    font-size: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

.content {

    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 10px;

    margin-bottom: 10px;

}

.content p {
    font-family: 'Yeon Sung', cursive;
    font-size: 18px;
    word-spacing: 10px;

}

iframe {
    border: 3px solid rgba(0, 0, 0, 0.541);
    border-radius: 10px;
}