.home {
    background-image: url('../../../public/assets/home/design.webp');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Itim;
}

.prod-head {
    padding: 10px;
    font-family: Itim;
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px;
}

.home-box {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
}

.name {
    font-family: Itim;
    font-size: 3.75rem;
    padding: 0 20px;
    line-height: 100px;
    text-align: center;
}

.home-box .slogan {
    padding-top: 15px;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
}

.home-box .description {
    font-size: 2.1875rem;
    font-weight: 200;
    text-align: left;
}

.products {

    margin: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.product-container {
    width: 220px;
    height: 100px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.795);
}


.product-name {
    font-size: 20px;
    position: absolute;
    z-index: 0;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
}