.nav {
    z-index: 1000;
    background: #FEDA30;
}

.nav .navbar {
    display: flex;
    min-width: 60vw;
    align-items: center;
}

.navbar-sub {
    min-width: 60vw;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    max-height: 60px;
    max-width: 60px;
}

.menu-name {
    font-weight: 400;
    font-size: 25px;
}

.menu-logo {
    min-width: 150px;
    justify-content: space-between;
}

.nav-assit-logo {
    max-width: 15px;
    max-height: 15px;
    font-size: 15px;
}

.dash {
    opacity: 0;
    width: 100%;
    background-color: black;
    height: 3px;
}

.heading-tag:hover .dash {
    opacity: 100;
}