@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,700;1,400;1,700&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', monospace;
  font-family: 'Courgette', cursive;
  user-select: none;
}

.body-part {
  /* margin-top: 60px; */
}